
@{
    ViewBag.Title = "DivideByZeroException";
    Layout = null;
}
@model System.Web.Mvc.HandleErrorInfo
<h2>DivideByZeroException</h2>
<p>
    Exception occured because of Controller : @Model.ControllerName, Action Name : @Model.ActionName<br />
    Divide by zero exception is occured.
</p>